<?xml version="1.0" encoding="UTF-8"?>
<!-- SpringMVC详细示例实战教程
        https://www.cnblogs.com/sunniest/p/4555801.html
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:beans="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- if you use annotation you must configure following setting -->
    <mvc:annotation-driven/>
    <!-- scan the package and the sub package -->
    <context:component-scan base-package="com.shankes.account.web.controller"/>

    <!-- don't handle the static resource -->
    <mvc:default-servlet-handler/>

    <!-- 这两个类用来启动基于Spring MVC的注解功能，将控制器与方法映射加入到容器中 -->
    <beans:bean
            class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>
    <beans:bean
            class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>

    <!-- 这个类用于Spring MVC视图解析 -->
    <!-- configure the InternalResourceViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          id="internalResourceViewResolver">
        <!-- 前缀 -->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!-- 后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- upload settings -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="102400000"></property>
    </bean>

    <!-- configure SimpleMappingExceptionResolver -->
    <!-- 另一种处理全局异常的方法
            见AdviceController
    -->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <!-- error是出错页面 -->
                <prop key="java.lang.ArithmeticException">error</prop>
            </props>
        </property>
    </bean>

    <!-- interceptor setting -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/mvc/**"/>
            <bean class="com.shankes.account.web.interceptor.MyInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>